<a href="https://colab.research.google.com/github/Sehajkaur24/Movie-recommender/blob/main/MovieRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Downloading Dataset
Downloading dataset from movielens

In [ ]:
!wget https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
!unzip ml-latest-small.zip

--2025-05-11 16:10:51--  https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 978202 (955K) [application/zip]
Saving to: ‘ml-latest-small.zip’

ml-latest-small.zip 100%[===================>] 955.28K  6.15MB/s    in 0.2s

2025-05-11 16:10:52 (6.15 MB/s) - ‘ml-latest-small.zip’ saved [978202/978202]

Archive:  ml-latest-small.zip
   creating: ml-latest-small/
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/tags.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/movies.csv

Loading Dataset from filesystem

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/ml-latest-small/ratings.csv")

In [ ]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Since we are build content based movie recommender system, therefore, we don't need timestamp

In [ ]:
df = df.drop('timestamp', axis=1)

In [ ]:
df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

loading movie titles

In [ ]:
movies = pd.read_csv("/content/ml-latest-small/movies.csv")

In [ ]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

we don't need genres for now, so lets drop it

In [ ]:
movies = movies.drop('genres', axis=1)

In [ ]:
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

let us combine movies with ratings dataset

In [ ]:
ratings = pd.merge(df, movies, on='movieId')

In [ ]:
ratings.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

Getting average and count of rating of each title

In [ ]:
title_ratings = ratings.groupby('title')['rating'].mean().to_frame()
title_ratings['numRating'] = ratings.groupby('title')['rating'].count()
title_ratings.head()

                                         rating  numRating
title
'71 (2014)                                  4.0          1
'Hellboy': The Seeds of Creation (2004)     4.0          1
'Round Midnight (1986)                      3.5          2
'Salem's Lot (2004)                         5.0          1
'Til There Was You (1997)                   4.0          2

Creating using **User-Movie Matrix** using pandas pivot_table

In [ ]:
moviemat = ratings.pivot_table(index='userId', columns='title', values='rating')
moviemat.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Lets check recommendations for **"Toy Story (1995)"**

In [ ]:
corr_toy_story = moviemat.corrwith(moviemat['Toy Story (1995)']).to_frame('correlation')
corr_toy_story = corr_toy_story.join(title_ratings.numRating)

/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [ ]:
corr_toy_story[corr_toy_story.numRating > 90].sort_values('correlation', ascending=False).head()

                         correlation  numRating
title
Toy Story (1995)            1.000000        215
Toy Story 2 (1999)          0.699211         97
Incredibles, The (2004)     0.643301        125
Finding Nemo (2003)         0.618701        141
Aladdin (1992)              0.611892        183

thus, movies to be watched after **"Toy Story (1995)"** are :-


1.   Toy Story 2 (1999)
2.   Incredibles, The (2004)
3.   Finding Nemo (2003)
4.   Aladdin (1992)

### Building model using above dataset

In [ ]:
class MovieRecommender:
  moviemat = moviemat
  title_ratings = title_ratings

  def getMovies(self, movieName):
    corr_table = moviemat.corrwith(self.moviemat[movieName]).to_frame('correlation')
    corr_table = corr_table.join(self.title_ratings.numRating)
    return corr_table[corr_table.numRating > 90].sort_values('correlation', ascending=False).head().index

In [ ]:
rec = MovieRecommender()
[ i for i in rec.getMovies('Aladdin (1992)')]

['Aladdin (1992)',
 'Toy Story (1995)',
 'Lion King, The (1994)',
 'Toy Story 2 (1999)',
 'Beauty and the Beast (1991)']

The above model can be deployed to any website using joblib or pickle
### Thank You